:host {
    display: block;
    padding: 0 12px;
}
ul {
    list-style: none;
    margin: none;
}

li {
    position: relative;
    mat-icon {
        position: absolute;
        top: -2px;
        left: -22px;
        font-size: 22px;
        height: 22px;
        width: 22px;
    }
}