<pr-presenter [label]="courseName" [icon]="courseIcon">
    <!-- <pr-presenter-page label="Welcome">
        <app-welcome></app-welcome>
    </pr-presenter-page>
    <pr-presenter-page label="Introduction">
        <app-introduction></app-introduction>
    </pr-presenter-page>
    <pr-presenter-page label="Usefull Terms">
        <app-usefull-terms></app-usefull-terms>
    </pr-presenter-page> -->
    <pr-presenter-page label="Working Diagram">
        <app-working-diagram></app-working-diagram>
    </pr-presenter-page>
    <pr-presenter-page label="NgRx">
        <app-ngrx></app-ngrx>
    </pr-presenter-page>
    <pr-presenter-page label="NgRx Demo">
        <app-ngrx-demo></app-ngrx-demo>
    </pr-presenter-page>
    <pr-presenter-page label="NgRx Devtools">
        <app-ngrx-devtools></app-ngrx-devtools>
    </pr-presenter-page>
    <pr-presenter-page label="NgRx Devtools Demo">
        <app-ngrx-demo></app-ngrx-demo>
    </pr-presenter-page>
    <pr-presenter-page label="NgRx Effects">
        <app-ngrx-effects></app-ngrx-effects>
    </pr-presenter-page>
    <pr-presenter-page label="NgRx Effects Working">
        <app-ngrx-effects-working></app-ngrx-effects-working>
    </pr-presenter-page>
    <pr-presenter-page label="NgRx Effects Demo">
        <app-ngrx-effects-demo></app-ngrx-effects-demo>
    </pr-presenter-page>
    <pr-presenter-page label="End">
        <div class="content--center" style="height: 100%;flex-direction: column">
            <h1>THANK YOU</h1>
        </div>
    </pr-presenter-page>
</pr-presenter>