@import './styles/ng.theme';

html,
body {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.content--center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}